extends layout

block breadcrumb
  ul.uk-breadcrumb
    li
      a(href="/", uk-icon="icon: home", title="Home")
    li
      a(href="/") Search
    li
      strong #{search}
      div &nbsp(#{total} results)

block content
  ul(uk-accordion="multiple: true")
    each list, category in results
      li.uk-open.uk-card.uk-card-default.uk-padding-small
        a.category.uk-accordion-title.uk-padding-remove-top(href='#', uk-sticky='offset: 80')= category

        .uk-accordion-content.uk-margin-remove-top.uk-overflow-auto
          table.uk-table.uk-table-small.uk-table-divider.uk-table-hover
            thead
              tr
                th(title='English') EN
                th(title='German') DE
                th(title='French') FR
                th(title='Portuguese') PT
            tbody
              each val in list
                tr
                  td.uk-text-truncate(title=val.en.text, data-clipboard-text=val.en.text) !{val.en.highlight}
                  td.uk-text-truncate(title=val.de.text, data-clipboard-text=val.de.text) !{val.de.highlight}
                  td.uk-text-truncate(title=val.fr.text, data-clipboard-text=val.fr.text) !{val.fr.highlight}
                  td.uk-text-truncate(title=val.pt.text, data-clipboard-text=val.pt.text) !{val.pt.highlight}


    script(src="https://cdn.jsdelivr.net/npm/clipboard@2.0.6/dist/clipboard.min.js")
    script.
      new ClipboardJS('[data-clipboard-text]');